* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

:root {
  --primary-color: #e0e0e0;
  --highlight-color: #3498db;
  --text-color: #858383;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f4f4;
}

.steps-container {
}

.step-box {
  width: 330px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step {
  border: 3px solid var(--primary-color);
  color: var(--text-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.2s ease-in;
  background-color: #f6f7fb;
}

.line {
  width: 75px;
  height: 4px;
  background: var(--primary-color);
  position: relative;
}

.line::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: var(--highlight-color);
  transition: width 0.2s ease-in 0.1s;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.button {
  background: var(--highlight-color);
  border: none;
  color: white;
  padding: 8px 25px;
  margin: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.disabled {
  background-color: var(--primary-color);
  cursor: not-allowed;
}

.step.highlight {
  border-color: var(--highlight-color);
}

.line.highlight::after {
  width: 100%;
}
